In [150]:
import pandas as pd
df_quotes=pd.read_csv("Dataset/recomm.csv")

df_user=pd.DataFrame(columns=["quote_id","rating"])
w_user=[1 for i in range(len(df_quotes.GENRE.unique()))]

In [151]:
# TEST
df_user=df_user.append({"quote_id":0,"rating":3},ignore_index=True)
df_user=df_user.append({"quote_id":959,"rating":3},ignore_index=True)
df_user=df_user.append({"quote_id":6721,"rating":3},ignore_index=True)
df_user.head()

C:\Users\Neogeo\AppData\Local\Temp\ipykernel_11972\2004380199.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_user=df_user.append({"quote_id":0,"rating":3},ignore_index=True)
C:\Users\Neogeo\AppData\Local\Temp\ipykernel_11972\2004380199.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_user=df_user.append({"quote_id":959,"rating":3},ignore_index=True)
C:\Users\Neogeo\AppData\Local\Temp\ipykernel_11972\2004380199.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_user=df_user.append({"quote_id":6721,"rating":3},ignore_index=True)

  quote_id rating
0        0      3
1      959      3
2     6721      3

In [55]:
# Making the one hot matrix
one_hot_cols=df_quotes.GENRE.unique()
one_hot_quotes=pd.DataFrame(data=[[0 for i in range(len(one_hot_cols))] for i in range(len(df_quotes))],columns=df_quotes.GENRE.unique())
one_hot_quotes.head()
tmp = df_quotes.GENRE 
for i in range(len(tmp)) :
    one_hot_quotes.loc[i][tmp[i]]=1
one_hot_quotes.head()

,amazing,attitude,beauty,best,cool,courage,dreams,faith,forgiveness,freedom,...,patience,peace,poetry,positive,religion,smile,success,sympathy,thankful,wisdom
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
def update_weights():
    global df_user,df_quotes,w_user
    #sum of columns*ratings
    w=(one_hot_quotes.loc[df_user["quote_id"]]*w_user).sum()
    w/= w.sum()
    w_user = w.values

In [ ]:
def recommendation(input_emotion):
    global df_quotes,df_user,w_user
    # Get recommendation dataframe
    tmp = df_quotes[(df_quotes["EMOTION"]==input_emotion)]
    tmp = tmp[~tmp.index.isin(df_user["quote_id"])]
    tmp = tmp.index #indexes of not-yet rated quotes

    # We multiply the one_hot_quotes of the recommendable quotes by the user profile (weights)
    # and see which line sums up to the biggest value
    tmp = (one_hot_quotes.loc[tmp]*w_user).sum(1).sort_values(ascending=False).index[0]
    
    return tmp #index of recommended quote