In [1]:
import pandas as pd

df=pd.read_csv('quotes.csv',skiprows=1,sep = ';',engine = 'python')

In [2]:
df.head()

                                               QUOTE         AUTHOR GENRE
0  Age is an issue of mind over matter. If you do...     Mark Twain   age
1  Anyone who stops learning is old, whether at t...     Henry Ford   age
2  Wrinkles should merely indicate where smiles h...     Mark Twain   age
3  True terror is to wake up one morning and disc...  Kurt Vonnegut   age
4  A diplomat is a man who always remembers a wom...   Robert Frost   age

In [3]:
len(df.GENRE.unique())

117

In [4]:
df.GENRE.unique()

array(['age', 'alone', 'amazing', 'anger', 'anniversary', 'architecture',
       'art', 'attitude', 'beauty', 'best', 'birthday', 'business', 'car',
       'change', 'communication', 'computers', 'cool', 'courage', 'dad',
       'dating', 'death', 'design', 'diet', 'dreams', 'education',
       'environmental', 'equality', 'experience', 'failure', 'faith',
       'family', 'famous', 'fear', 'finance', 'fitness', 'food',
       'forgiveness', 'freedom', 'friendship', 'funny', 'future',
       'gardening', 'god', 'good', 'government', 'graduation', 'great',
       'happiness', 'health', 'history', 'home', 'hope', 'humor',
       'imagination', 'inspirational', 'intelligence', 'jealousy',
       'knowledge', 'leadership', 'learning', 'legal', 'life', 'love',
       'marriage', 'medical', 'men', 'mom', 'money', 'morning',
       'motivational', 'movies', 'movingon', 'music', 'nature',
       'parenting', 'patience', 'patriotism', 'peace', 'pet', 'poetry',
       'politics', 'positive', 'power', 'relationship', 'religion',
       'respect', 'romantic', 'sad', 'science', 'smile', 'society',
       'sports', 'strength', 'success', 'sympathy', 'teacher',
       'technology', 'teen', 'thankful', 'time', 'travel', 'trust',
       'truth', 'war', 'wedding', 'wisdom', 'women', 'work', 'christmas',
       'easter', 'fathersday', 'memorialday', 'mothersday', 'newyears',
       'saintpatricksday', 'thanksgiving', 'valentinesday'], dtype=object)

In [4]:
array = ['amazing', 'beauty', 'best', 'cool', 'courage', 'dreams', 'faith', 'freedom', 'funny', 'good','great',
         'happiness','hope', 'humor', 'inspirational', 'motivational', 'peace', 'positive', 'smile','inspirational' 
         'strength', 'success', 'sympathy', 'thankful', 'wisdom', 'forgiveness', 'patience', 'poetry', 'religion','attitude']
data = df.loc[df['GENRE'].isin(array)]

In [5]:
data['EMOTION'] = data['GENRE']
data

C:\Users\Neogeo\AppData\Local\Temp\ipykernel_21964\202331003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['EMOTION'] = data['GENRE']

,QUOTE,AUTHOR,GENRE,EMOTION
1997,Sometimes I think my husband is so amazing tha...,Angelina Jolie,amazing,amazing
1998,"If you tell people where to go, but not how to...",George S. Patton,amazing,amazing
1999,It is amazing what you can accomplish if you d...,Harry S. Truman,amazing,amazing
2000,If you set goals and go after them with all th...,Les Brown,amazing,amazing
2001,Nobody in life gets exactly what they thought ...,Conan O'Brien,amazing,amazing
...,...,...,...,...
73423,I actually think with age comes some level of ...,Nina Totenberg,wisdom,wisdom
73424,This ceremony and the intellectual aura associ...,Stanford Moore,wisdom,wisdom
73425,Wisdom denotes the pursuing of the best ends b...,Francis Hutcheson,wisdom,wisdom
73426,A proverb is the wisdom of many and the wit of...,Lord John Russell,wisdom,wisdom
73427,Yale is a crucible in American life for the ac...,"Benno C. Schmidt, Jr.",wisdom,wisdom

In [11]:
data.loc[df['GENRE'].isin(['peace','forgiveness', 'wisdom', 'sympathy', 'patience','happiness']), 'EMOTION'] = 0 #angry
data.loc[df['GENRE'].isin(['religion','good', 'dreams', 'freedom','hope']), 'EMOTION'] = 1 #afraid
data.loc[df['GENRE'].isin(['poetry','strength', 'cool', 'courage']), 'EMOTION'] = 2 #happy
data.loc[df['GENRE'].isin(['thankful','amazing', 'positive', 'humor']), 'EMOTION'] = 3 #sad
data.loc[df['GENRE'].isin(['attitude','beauty', 'best', 'funny']), 'EMOTION'] = 4 #surprised
data.loc[df['GENRE'].isin(['motivational','smile', 'inspirational', 'faith', 'great','success']), 'EMOTION'] = 5 #neutral

In [12]:
data

,QUOTE,AUTHOR,GENRE,EMOTION
1997,Sometimes I think my husband is so amazing tha...,Angelina Jolie,amazing,3
1998,"If you tell people where to go, but not how to...",George S. Patton,amazing,3
1999,It is amazing what you can accomplish if you d...,Harry S. Truman,amazing,3
2000,If you set goals and go after them with all th...,Les Brown,amazing,3
2001,Nobody in life gets exactly what they thought ...,Conan O'Brien,amazing,3
...,...,...,...,...
73423,I actually think with age comes some level of ...,Nina Totenberg,wisdom,0
73424,This ceremony and the intellectual aura associ...,Stanford Moore,wisdom,0
73425,Wisdom denotes the pursuing of the best ends b...,Francis Hutcheson,wisdom,0
73426,A proverb is the wisdom of many and the wit of...,Lord John Russell,wisdom,0
73427,Yale is a crucible in American life for the ac...,"Benno C. Schmidt, Jr.",wisdom,0

In [13]:
data.EMOTION.unique()

array([3, 4, 2, 1, 5, 0], dtype=object)

In [14]:
data.to_csv("recomm.csv",index=False)